body {
    background-image: url('https://th.bing.com/th/id/OIG2.KJFNtONJknNYx8clD3yR?w=1024&h=1024&rs=1&pid=ImgDetMain');
    background-size: cover; /* Para cobrir todo o tamanho da tela */
    background-position: center; /* Para centralizar a imagem */
    /* Adicione outras propriedades conforme necessário */
}
