.image-container {
    margin-top: 20px;
    height: 100%;
    overflow-y: auto; /* Habilita a barra de rolagem apenas na direção vertical */
}

/* Estilos para a barra de rolagem */
.image-container::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

.image-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da barra de rolagem */
}

.image-container::-webkit-scrollbar-thumb {
    background: #888; /* Cor do indicador de rolagem */
    border-radius: 6px; /* Borda arredondada do indicador de rolagem */
}

.image-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do indicador de rolagem ao passar o mouse */
}
