body {
    background-color: #000;
    color: rgb(255, 255, 255);
}

.form-control {
    background-color: rgb(131, 27, 23);
    color: #fff;
    border-color: rgb(236, 224, 224);
}

.btn-primary {
    background-color: rgb(131, 27, 23);
    border-color: rgb(131, 27, 23);
}

.btn-primary:hover {
    background-color: #6f1512;
    border-color: #6f1512;
}
